body{
    font-family: 'Courier New', Courier, monospace;
}

.directions {
    height: 100%;
    width: 100%;
    padding: 5% 5%;
    background-color: rgba(0, 0, 0, .5);
    transition-property: all 4s;
    color: white;
    text-align: center;
}
h2 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}

p {
    font-size: 24px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 100px;
}

li {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 50px;
}

p2 {
    font-style: italic;
    font-weight: bolder;
    font-size: 72px;
    padding-top: 75px;
}

a {
    text-decoration: none;
    color: #cd6e01;
}
    
a:hover {
    text-decoration: underline;
}
    
ul {
    list-style: none;
}

li.nav {
    display: inline;
    padding: 15px;
}
    
nav ul {
    text-align: center;
    font-size: 18px;
    margin: 25px;
}

header ul {
    position: absolute;
    top: 0;
    right: 0;
  }

/* h4  {
    background-color: rgba(3, 119, 252, .5);
    font-size: 22px;
    color:brown;
    }

#navMenu.navmenu {
    background-color: rgba(3, 119, 252, .5);
    overflow: hidden;
}

.navmenu a {
    float: left;
    display: block;
    background-color: rgba(3, 119, 252, .5);
    color: brown;
    text-align: center;
    padding: 18px 22px;
    font-size: 20px;
}

.thedrop    {
    float: left;
    overflow: hidden;
}

.thedrop .navbutton1    {
    font-size: 18px;
    color:brown;
    background-color: rgba(3, 119, 252, .5);
    min-width: 220px;
}

.thedrop-content    {
    position: absolute;
    background-color: azure;
    color: rgba(108, 143, 184, .5);
}

.thedrop-content a  {
    color: rgba(93, 107, 122, .7);
    padding: 24px 24px;
    display: block;
    text-align: center;
} */

