body{
    font-family: 'Courier New', Courier, monospace;
}

.directions {
    height:max-content;
    width: max-content;
    padding: 15% 15%;
    background-color: rgba(0, 0, 0, .5);
    transition-duration: 7s;
    color: white;
    text-align: center;
}
h2 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}

p {
    font-size: 24px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 100px;
}

li {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 50px;
}

p2 {
    font-style: italic;
    font-weight: bolder;
    font-size: 72px;
    padding-top: 75px;
}

a {
    text-decoration: none;
    color: #cd6e01;
}
    
a:hover {
    text-decoration: underline;
}
    
ul {
    list-style: none;
}

li.nav {
    display: inline;
    padding: 15px;
}
    
nav ul {
    text-align: center;
    font-size: 18px;
    margin: 25px;
}

header ul {
    position: absolute;
    top: 0;
    right: 0;
  }
