.directions {
    max-height: inherit;
    max-width: inherit;
    padding: 15%;
    background-color: rgba(0, 0, 0, .5);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

h2 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}

p {
    font-size: 24px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 100px;
}

li {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 50px;
    list-style: none;
}

p2 {
    font-style: italic;
    font-weight: bolder;
    font-size: 72px;
    padding-top: 75px;
}

h1, h3 {
    text-align: center;
}

.game {
    max-width: 60%;
    max-height: 100%;
    background-color: black;
    padding: 40px 100px;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    border: solid rgb(130, 130, 130);
    border-width: 14px;
}

.trivia {
    font-size: 30px;
    padding: 100px;
}

#submit {
    background-color: rgb(147, 255, 242);
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 22px 0 rgba(150, 150, 150, 0.5), 0 10px 22px 0 rgba(150, 150, 150, 0.5);
}

#nextQuestion {
    background-color: rgb(147, 255, 242);
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 22px 0 rgba(150, 150, 150, 0.5), 0 10px 22px 0 rgba(150, 150, 150, 0.5);
}

#message {
    font-size: 32px;
    color: rgb(245, 253, 9, 0.8);
    padding: 50px 20px;
}